@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;400&display=swap');

body{
    font-family: 'Montserrat Alternates', sans-serif
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
img{
    width: 100%;
}
.centrar{
    text-align: center;
}
.logo{
    padding: 1%;
}
.logo>a>img{
    width:120px;
    
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.migueprofe{
    object-fit: scale-down;
}
nav{
    background-color: rgb(55, 167, 207);
    padding: 1%;
    font-size: x-large;
}
nav>a:hover{
    transform: scale(1.2);
    transition: .4s all;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.col-3 {width: 100%;}
.col-4 {width: 100%;}

/*---INICIO---*/
.inicio-parrafo>h1{
    margin-top: 10%;
    color: rgb(55, 167, 207);
}

.inicio-parrafo{
    justify-content: center;
    flex-direction: column;
}

.inicio-parrafo>h1{
    margin-top: 10%;
    color: rgb(55, 167, 207);
    font-size: 30px;
}
.img-inicio{
    display: none;
}
.inicio-parrafo{
    padding: 5% 10% 5% 10%;
    color: rgb(55, 167, 207);
    text-align: center;
}
div.inicio-parrafo>p{
    font-size: 20px;
    text-align: center;
}
    .img-inicio{
        display: none;
    }

iframe{
    width: 60%;
    height: 34vw;
    margin: 20px 0px;
}

.galeria .galeria-cuadro {
    color: rgb(55, 167, 207);
    align-items: center;
}

.galeria .galeria-cuadro h2{
    font-size: 30px;
}

.galeria .galeria-cuadro p{
    font-size: 20px;
}

.img-galeria img{
    width: 70%;

}


.productos .productos-contenedor{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.productos .productos-contenedor div{
    width: 303px;
    height: 550px;
    border: 2px solid rgb(55, 167, 207);
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    margin: 50px 2%;
}

.productos h3{
    padding: 20px 0 20px 0;
    color: rgb(55, 167, 207);
}
.productos div a{
    text-decoration: none;
    border: solid 1px rgb(55, 167, 207);
    color: rgb(55, 167, 207);
    background-color:rgb(244, 244, 244);
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
}


.productos .productos-contenedor img{
    width: 100%;
    height: 70%;
    border-radius: 14px 14px 14px 14px;
    text-align: center;
}

/*---ALQUILERES--*/
.alquiler{
    flex-direction: column;
    justify-content: center;
    margin: 20px;

}
.text-alq{
    border: 1px solid rgb(55, 167, 207);
    margin: 10% 0px;
    border-radius: 15px;
}
.text-alq a img{
    width: 10%;
    margin: 10px;
}
.text-alq h2{
    color: rgb(55, 167, 207);
}
.text-alq p{
    color: rgb(55, 167, 207);
}

.rec-alq{
    border: 1px solid rgb(55, 167, 207);
    margin: 10% 0px;
    border-radius: 15px;
}

.rec-alq img{
    width: 100%;
    margin-bottom: -4px;
    border-radius: 0px 0px 14px 14px;
}
.alquiler h3{
    color: rgb(55, 167, 207);
}
.alquiler p{
    color: rgb(55, 167, 207);
}

.alquiler .col-6{width: 50%;}
.div-alq-contenedor{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


/*---NOSOTROS--*/
.nos{
    flex-direction: column;
    align-items: center;
    margin: 20px 15px;
}
.nos-text{
    border: 1px solid rgb(55, 167, 207);
    margin: 30px 0px;
    border-radius: 15px;
}

.nos-text{
    flex-direction: row;
    color: rgb(55, 167, 207);
    background-color: white;
}

.nos-seg{
    border: 1px solid rgb(55, 167, 207);
    border-radius: 15px;
    margin: 30px 0;
    background-color: white;
}

.nos-seg>div>h2{
    color: rgb(55, 167, 207);
}
.nos-seg>div>p{
    color: rgb(55, 167, 207);
}
.nos-seg img{
    width: 100%;
    margin-bottom: -4px;
    border-radius: 0px 0px 14px 14px
}

.nos-cap{
    border: 1px solid rgb(55, 167, 207);
    border-radius: 15px;
    margin: 20px 5px;
    background-color: white;
}
.nos-cap>div>h2{
    color: rgb(55, 167, 207);
}
.nos-cap>div>p{
    color: rgb(55, 167, 207);
}
.nos-cap>img{
    margin-bottom: -4px;
    border-radius: 0px 0px 14px 14px;
    width: 100px;
    height: 100px;
}

/*---EQUIPOS--*/

.equipo{
    justify-content: center;
}
.especificacion{
    border: 1px solid rgb(136, 174, 247);
    border-radius: 20px 20px 20px 20px;
    margin: 40px 20px;
}

.especificacion{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

.espec-equipo{
    justify-content: start;
    flex-direction: column;;
}
.espec-equipo h2{
    margin: 20px;
    font-size: 40px;
    color: rgb(55, 167, 207);

}
.espec-equipo h3{
    padding: 20px;
    font-size: 30px;
    color: rgb(55, 167, 207);
}

.espec-equipo p{
    padding: 20px;
    margin: 20px 0px;
    font-size: 20px;
    color: rgb(55, 167, 207);
}

.benef-titulo{
    justify-content: center;
    font-size: 40px;
    color:  rgb(55, 167, 207);
}
.benef>div{
    padding: 2%;
    display: flex;
    text-align: center;
}
.benef>div>div{
    border: 2px solid rgb(55, 167, 207);
    margin: auto;
}

.benef>div>div>img{
    object-fit: scale-down;
    width: 100%;
    height: 300px;
}
/*---CONTACTANOS--*/

.consulta h1{
    color: rgb(55, 167, 207);
    font-size: 50px;
    margin: 5% 0;
}
.consulta div label{
    color: rgb(55, 167, 207);
    font-size: 20px;
}
.consulta div p{
    color: rgb(55, 167, 207);
    font-size: 20px;
    margin: 5% 0;
}
#carouselExampleFade{
    margin: 5% 0 0 0;
}

/*---FOOTER--*/
.pie{
    align-items: center;
}
.pie .pie-contenedor img{
    width: 40px;
    height: 40px;
    margin: 10px;
    align-items: center;
    }

.pie .pie-texto{
    width: 600px;
    margin-left: 5%;
}
.pie .pie-texto h2{
    color: white;
    font-size: 20px;
    text-align: left;
}

.pie .pie-texto p{
    color: white;
    font-size: 18px;
    text-align: left;
}
.pie{
    background-color: rgb(136, 174, 247);
}

.pie .pie-contenedor{
    flex-direction: row-reverse;
    width: 100%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /*----INDEX----*/
    .img-inicio{
        display: none;
    }

    .inicio-parrafo>h1{
        margin-top: 10%;
        color: rgb(55, 167, 207);
        font-size: 5vw;
    }
    .especificacion .col-4{width: 75%;}
    .especificacion .col-5{width: 25%;}


    .especificacion img{
        width: 100%;
    }

    .especificacion{
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }
    
    .espec-equipo{
        justify-content: center;
        flex-direction: column;
    }
    .espec-equipo h2{
        margin: 0;
        font-size: 30px;
        color: rgb(55, 167, 207);
    
    }
    .espec-equipo h3{
        padding: 0px;
        font-size: 20px;
        color: rgb(55, 167, 207);
    }
    
    .espec-equipo p{
        padding: 0px;
        margin: 20px 0px;
        font-size: 20px;
        color: rgb(55, 167, 207);
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    section{
        margin: 65px 0;
    }
    nav{
        display: block;
        flex-wrap: nowrap;
    }

    .benef .col-4{ width: 33.33%;}
/*----EQUIPO----*/
.equipo{
    justify-content: center;
}

.especificacion .col-4{width: 35%;}
.especificacion .col-5{width: 25%;}
.especificacion{
    border: 1px solid rgb(136, 174, 247);
    border-radius: 20px 20px 20px 20px;
    margin: 20px 10px;
}

.especificacion{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

.espec-equipo{
    justify-content: center;
    flex-direction: row;
}
.espec-equipo h2{
    margin: 20px;
    font-size: 40px;
    color: rgb(55, 167, 207);

}
.espec-equipo h3{
    padding: 20px;
    font-size: 30px;
    color: rgb(55, 167, 207);
}

.espec-equipo p{
    padding: 20px;
    margin: 20px 0px;
    font-size: 20px;
    color: rgb(55, 167, 207);
}

.especificacion img{
    width: 100%;
}

/*----NOSOTROS----*/
.nos .col-3{width: 30%;}
.nos{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/*----ALQUILERES----*/
.div-alq-contenedor{
    padding: 20%;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {

    .inicio-parrafo{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .img-inicio{
        display: none;
    }
    .inicio-parrafo{
        padding: 5% 10% 5% 10%;
        color: rgb(55, 167, 207);
        text-align: center;
    }

    .galeria-cuadro div .col-6{
        width: 20%;
    }
        /*---ALQUILERES--*/
        .div-alq-contenedor .col-6{
            width: 25%;
        }
    
        /*---NOSOTROS--*/
        .nos .col-3{width: 35%;}
        .nos{
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
        .nos-text{
            border: 1px solid rgb(55, 167, 207);
            margin: 20px 5px;
            border-radius: 15px;
        }
        
        .nos-text{
            flex-direction: column;
            color: rgb(55, 167, 207);
        }

        .nos-text h1{
            padding: 0px;
        }
        
        .nos-text p{
            padding: 0px;
        }
    
        .nos-seg .col-6{
            width: 25%;
        }
        
        .nos-seg{
            border: 1px solid rgb(55, 167, 207);
            margin: 20px 0px;
            border-radius: 15px;
        }
        
    
        .nos-seg img{
            width: 100%;
            margin-bottom: -4px;
            border-radius: 0px 0px 14px 14px
        }
        
        .nos-cap{
            border: 1px solid rgb(55, 167, 207);
            border-radius: 15px;
        }
        .nos-cap>div>h2{
            color: rgb(55, 167, 207);
        }
        .nos-cap>div>p{
            color: rgb(55, 167, 207);
        }
        .nos-cap>img{
            margin-bottom: -4px;
            border-radius: 0px 0px 14px 14px;
        }
        
    
        /*---EQUIPOS--*/  


        .especificacion .col-4{width: 50%;}
        .especificacion .col-5{width: 35%;}

        .especificacion img{
            flex-direction: column;
            width: 100%;
            justify-content: center;
        }

        .espec-equipo{
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        
        .benef-titulo{
            justify-content: center;
            font-size: 40px;
            color:  rgb(55, 167, 207);
        }
        .benef>div{
            padding: 2%;
            display: flex;
            text-align: center;
        }
        .benef>div>div{
            border: 2px solid rgb(55, 167, 207);
            margin: auto;
        }
        
        .benef>div>div>img{
            object-fit: scale-down;
            width: 100%;
            height: 300px;
        }
    
        .benef>div>{
            flex-direction: row;
        }
            .div-alq-contenedor{
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }
        
        .div-alq-contenedor{
            padding: 0;
        }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .inicio-parrafo>h1{
        margin-top: 10%;
        color: rgb(55, 167, 207);
        font-size: 5vw;
    }

    .img-inicio{
        display: flex;
    }

    div.imagenes{
        padding: 7%;
    }

    img.beltive{
        opacity: 2;
        transition: opacity 2s ease-out;
        transform: translate(-50px, 120px);
        transition: 0.5s;
        border-radius: 15px;
    }
    img.png{
        opacity: 2;
        transition: opacity 2s ease-out;
        transform: translate(30px, 90px);
        transition: 0.5s;
        border-radius: 15px;
    }
    img.bodyup{
        opacity: 2;
        transition: opacity 2s ease-out;
        transform: translate(30px, -70px);
        transition: 0.5s;
        border-radius: 15px;
    }
    img.crio{
        opacity: 2;
        transition: opacity 2s ease-out;
        transform: translate(-20px, 20px);
        transition: 0.5s;
        border-radius: 15px;
    }

    .inicio-parrafo>h1{
        margin-top: 10%;
        color: rgb(55, 167, 207);
        font-size: 5vw;
    }

    .galeria .galeria-cuadro{
        font-size: 30px;
        color: rgb(55, 167, 207);
        padding: 10% 0% 10% 5%;
    }


    .productos .productos-contenedor div{
    margin: 90px;
    }
/*---NOSOTROS--*/
.nos{
    background-image: url(../img/consultas\beltive.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 85vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.transpa{
    background-color: transparent;
}
.nos{
    margin: 0;
}
.nos-text h1{
    padding: 10px 10px;
}

.nos-text p{
    padding: 10px 20px;
}
/*---EQUIPOS--*/

.equipo{
    justify-content: center;
}
.especificacion{
    border: 1px solid rgb(136, 174, 247);
    border-radius: 20px 20px 20px 20px;
    margin-top: 40px;
}

.especificacion{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

.especificacion img{
    width: 70%;
}

.espec-equipo{
    justify-content: start;
    flex-direction: column;
}
.espec-equipo h2{
    margin: 20px;
    font-size: 40px;
    color: rgb(55, 167, 207);

}
.espec-equipo h3{
    padding: 20px;
    font-size: 30px;
    color: rgb(55, 167, 207);
}

.espec-equipo p{
    padding: 20px;
    margin: 20px 0px;
    font-size: 20px;
    color: rgb(55, 167, 207);
}


.benef-titulo{
    justify-content: center;
    font-size: 40px;
    color:  rgb(55, 167, 207);
}
.benef>div{
    padding: 2%;
    display: flex;
    text-align: center;
}
.benef>div>div{
    border: 2px solid rgb(55, 167, 207);
    margin: auto;
}

.benef>div>div>img{
    object-fit: scale-down;
    width: 100%;
    height: 300px;
}

.benef-titulo{
    justify-content: center;
    font-size: 40px;
    color:  rgb(55, 167, 207);
    }


/*---CONTACTANOS--*/

.consulta{
    background-image: url(../img/consultas\ beltive.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 85vh;
    justify-content: center;
    margin: 0;
}


    
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

}
